body {
  padding: 20px;
  font-family: serif;
  background-color: tan;
  color: maroon;
}

img {
  width: 50%;
}

img.center {
  margin: auto;
  display: block;
}

h1 {
  text-align: center;
}

h1, h2, h3 {
  font-family: cursive, Arial;
}

a {
  color: maroon;
}

#homeimg {
  height: 40%;
  width: 40%;
}

ul {
  list-style-type: none;
}

.img {
  height: 30%;
  width: 30%;
}
